# Host/IP of Azimuth motor's receiver OpenWebif API, use localhost if FrankenSaT is installed directly on receiver
AZHOST=localhost
# Port of Azimuth motor's receiver OpenWebif API, default is 80
AZPORT=
# Sequence for Azimuth motor: exit any menu, satellite finder (activates motor), positioner settingsa, zero all digits especially tenths, since we ill use only whole degrees. Example is for OpenATV 7.3. The shortest path to this is define satfinder to red button and positioner to blue buton, then the sequence will be like this: exit exit exit exit exit exit red exit blue up up 0 0 0 0
AZINIT="exit exit exit exit exit exit menu up up ok down down down down down ok up ok exit up ok up up 0 0 0 0"
# Center Azimuth of your installation
AZCENTER=270
# Max. reachable degree of Azimuth begining with AZMIN; you need also adjust installation Longitude in receiver's settings to AZMAX/2 East. As result, you will be able to point the motor in virtual range AZMIN..AZMAX degrees East
AZMAX=148
#  Min. reachable degree of Azimuth, default is 0
AZMIN=1
# Host/IP of Elevation motor's receiver OpenWebif API, leave empty if you have only one motor
ELHOST=
# Port of Elevation motor's receiver OpenWebif API, default is 80
ELPORT=
# The same as for Azimuth motor, but for Elevation. Example is for OpenATV 5.1.
ELINIT="exit exit exit exit exit exit menu up up ok down down down down down ok down down down ok exit ok up up ok up up 0 0 0 0"
# Center Elevation of your installation
ELCENTER=45
# The same as for Azimuth motor, but for Elevation
ELMAX=90
# The same as for Azimuth motor, but for Elevation
ELMIN=
# 7-segment display device path (/dev/dbox/oled0, /proc/vfd, /dev/vfd), leave blank if none
VFDDEV=/dev/dbox/oled0
